<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<form action="send_form" method="POST">
  <div class="container">
    <h1>Formulario</h1>

    <label for="nombre"><b>Nombre Completo:</b></label><br>
    <input type="text" placeholder="ehhh" name="nombre" id="nombre" required>

	<br><br>

    <label for="sem"><b>Semestre:</b></label><br>
    <input type="number" placeholder="???" name="semestre" id="sem" required>

	<br><br>

    <label for="pasa"><b>Pasatiempo Favorito:</b></label><br>
    <input type="text" placeholder="uhhh" name="pasatiempo" id="pasa" required>

	<br><br>

    <button type="submit">Enviar</button><br><br>
  </div>
</form>

<img src="https://pbs.twimg.com/media/DtKMIwAWwAEiviU.jpg" width="400">

</html>
